In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    1 non-null      object
 1   loc     1 non-null      object
 2   size    1 non-null      int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [8]:
df.head()

    name       loc  size
0  Eddie  Goodview     5